* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

img {
  width: 200%;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: -100%;
}

.w0 {
  opacity: 0.8;
  // filter: hue-rotate(260deg);
}

.w1 {
  opacity: 0.7;
  // filter: hue-rotate(290deg);
}

.w2 {
  opacity: 0.5;
  // filter: hue-rotate(320deg);
}
